# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.
certifi==2019.3.9
Django==2.2.2
Pillow==6.0.0
pytz==2019.1
sqlparse==0.3.0
wincertstore==0.2
